.new-game {
  .modal-header {
    margin-bottom: 1.5rem;
  }

  #newRPS {
    margin-bottom: 1.5rem;
  }

  &-select {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background: rgba(225, 228, 237, 0.3);
    border: 0.125rem solid transparent;
    border-radius: 0.375rem;

    & * {
      pointer-events: none;
    }

    &:hover {
      background: transparent;
      border-color: rgb(225, 228, 237);
    }

    img {
      margin-right: 1.25rem;
    }
  }
}
