*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  min-height: 768px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3.125rem 2rem 2rem;
  background: $BG-Gradient;
  overflow-x: hidden;

  @include tablet {
    padding: 2rem 2rem 3.5rem;
    min-height: unset;
  }

  &.active {
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(black, 0.5);
    }
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  background: transparent;
}

.modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.5);
  width: min(400px, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  z-index: 2;
  border-radius: 0.5rem;
  padding: 2rem;
  pointer-events: none;
  opacity: 0;
  @extend %tr;

  @include mobile {
    position: fixed;
    justify-content: space-around;
    top: 0;
    transform: translateY(0) scale(0.5);
    border-radius: unset;
    width: 100%;
    min-height: 100vh;
  }

  &.active {
    pointer-events: unset;
    transform: translateY(-50%) scale(1);
    opacity: 1;

    @include mobile {
      transform: translateY(0) scale(1);
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include mobile {
      justify-content: center;
      text-align: center;
    }
  }

  .btn-close-desktop {
    @include mobile {
      display: none;
    }
  }

  .btn-close-mobile {
    margin-top: 2rem;
    display: none;

    @include mobile {
      display: unset;
    }
  }

  button:hover {
    svg * {
      opacity: 0.5;
    }
  }

  svg {
    pointer-events: none;

    & * {
      @extend %tr;
    }
  }
}
