@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h1,
h2,
h3 {
  color: white;
}

h1,
h2,
h4,
.points,
.select-title {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
  line-height: 2rem;

  @include tablet {
    font-size: 1.3125rem;
    line-height: 1rem;
  }

  &.game-title-spock {
    font-size: 1.75rem;
    line-height: 1.375rem;

    @include tablet {
      font-size: 1.25rem;
      line-height: 0.625rem;
    }
  }
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: 0.128em;
  font-weight: inherit;
  text-align: center;

  @include laptop {
    font-size: 1.25rem;
  }

  @include tablet {
    font-size: 0.9375rem;
  }
}

h4 {
  font-size: 2rem;
  color: $Dark-Text;
}

h5 {
  font-size: 1rem;
  letter-spacing: 0.156em;
  color: $Score-Text;

  @include tablet {
    font-size: 0.625rem;
  }
}

.points {
  font-size: 4rem;
  line-height: 0.95;
  color: $Score-Number;

  @include tablet {
    font-size: 2.5rem;
  }
}

.select-title {
  font-size: 1.25rem;
  line-height: 1;
  color: $Header-Outline;
}

button {
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: 0.16em;
  text-transform: inherit;
  color: rgba(white, 0.8);
}

a {
  text-decoration: none;
}
